body{
    background:  url("broken_noise.png");/*(from http://subtlepatterns.com/) */
    width: 98%;
}

.container{
    width: 100%;
    height: 950px;
    background:  url("broken_noise.png");/*(from http://subtlepatterns.com/) */
    font-family: "Lucida Console", Monaco, monospace;
    color: #D5D5D5;
}
/*kolor broken_noise #1c1c1c*/
#header{
    width: 100%;
    height: 130px;
    background-color: #1c2c2c;
    text-align: center;
    padding: 5px;
}
.title{
    width: 99%;
    height: 30%;
    
    font-size: 200%;
    font-weight: bold;
    padding: 1%;
}


#left_log{
    float: left;
    width: 50%;
    height: 680px;
    font-size: 20px;
    background-color: #1c1c1c;
}

#right_addition{
    float: left;
    width: 50%;
    height: 680px;
    font-size: 20px;
     background-color: #1c1c1c;
}

#left_add{
    float: left;
    width: 100%;
    height: 70px;
    background-color: #1c1c1c;
}

#make_account{
     width: 100%;
    height: 388px;
    font-size: 30px;
    background-color: #3A3A33;
    
}

#button{
    width: 90px;
    height: 40px;
}

#textfield{
    width: 300px;
    height: 30px;
}

#textfieldDp{
    width: 300px;
    height: 30px;
}

.textPlace{
    width: 150px;
    height: 30px;
}

#textinfo{
    width: 400px;
    height: 70px;
}

#right_info{
    float: left;
    width: 50%;
    height: 680px;
    font-size: 30px;
    background-color: #3A3A3A;
}

.right_change{
    float: left;
    width: 50%;
    height: 680px;
    background-color: #1c1c1c;
}

#right_info2{
    float: left;
    width: 50%;
    height: 680px;
    font-size: 30px;
    background-color: #1c1c1c;
}

#photos{
    width: 640px;
    height: 440px;
    background-color: #3A3A3A;
}

#footer{
    clear: both;
    width: 100%;
    height: 100px;
    background-color: #1c2c2c;
    font-size: 20px;
    text-align: center;
}

#add{
    width: 100%;
    height: 10px;
    background-color: #1c2c2c;
    font-size: 10px;
    text-align: center;
}

.add2{
    width: 100%;
    height: 30px;
    background-color: #1c2c2c;
    font-size: 20px;
    text-align: center;
}

#give_your_e-mail{
    width: 100%;
    height: 680px;
    background-color: #1c1c1c;
    text-align: left;
}
#main_wall{
    width: 100%;
    height: 680px;
    background-color: #1c1c1c;
    text-align: center;
}

.logingout{
    width: 100%;
    height: 50px;
    text-align: center;
}

.error{
    height: 17px;
    color:#FF0033;
    margin-top: 5px;
    font-size: 15px;
}

.errorSpan{
    height: 17px;
    color:#FF0033;
    
    font-size: 15px;
}

.change{
    height: 17px;
    color: #33cc33;
    margin-top: 5px;
    font-size: 15px;
}

#photos{
    width: 100%;
    background-color: #1c1c1c;
}

.menu{
    text-align: center;
    
}

#right_info_final{
    font-size: 5px;
    float: left;
    width: 50%;
    height: 680px;
    font-size: 30px;
    background-color: #3A3A3A;
}

#left_select{
    float: left;
    width: 50%;
    height: 680px;
    font-size: 20px;
    background-color: #1c1c1c;
}

ul.colOpt li{
    display: block;
    list-style: none;
}

ul.menu li{
    display: block;
    list-style: none;
    float: left;
    border-style: solid;
    border-color: #1c2c2c;
    text-align: center;
}

ul.colOpt a:link, a:visited, a:active{
	text-decoration: none;
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	color: #def;
	border-top: 10px;
        
}

ul.menu  a:visited, ul.menu a:visited{
	text-decoration: none;
	display: block;
	width: 100%;
	text-align: center;
	padding: 3px;
	font-weight: bold;
	color: #def;
	border-top: 10px;
        
}

ul.menu a:hover{
    border-style: inset;
    padding-bottom: 10px;
    border-color: #1c2c2c;
    border-left-color: white;
    border-right-color: white;
}

ul.menu{
    display: block;
    list-style: none;
}

ul.colOpt a:hover {
	border-style: inset;
	padding: 10px;
        border-left-color: white;
        border-right-color: white;
        border-top-color: #1c1c1c;
            
}



.trueTable, td, th{
    font-size: 20px;
    width: 70%;
    border: 1px solid whitesmoke;
    padding: 5px;
}

.infoDiv{
    font-size: 15px;
    padding: 2px;
    text-align: left;
}

a {
    color: #def;
}